extends layout

block content
  .hero-section-service
    .hero-text-service
      h1 Get Actionable 
      h1 Insights from Your
      h1.span Lifestyle Reports
      p Our AI Doctor can easily analyze and interpret your lab tests, providing clear and actionable health information.
        ul.hero-list
          li Upload your reports
          li Receive valuable insights and recommendations
          li Make informed health decisions
      button.try-fit-for-free Try Fit for Free
    .hero-image-service
      img(src='/images/hero-image.jpg', alt='Health Assistant Image')

  .features
    h1 Simple Steps to Better Health
    p Experience a streamlined process that turns your lifestyle and health reports into actionable health insights with just a few clicks.
    .feature-container
      .feature
        h1.steps 01
        h3 Upload your report
        p Upload your lifestyle and health as PDFs, images, screenshots, or simply snap a picture. Our system supports various methods to ensure a smooth and easy process.
      .feature
        h1.steps 02
        h3 Get AI-Powered Analysis
        p Our AI Doctor analyzes your results using the latest medical guidelines. It evaluates biomarkers, identifies patterns, and assesses risk factors, ensuring that nothing is overlooked.
      .feature
        h1.steps 03
        h3 Receive Detailed Report
        p Get a comprehensive lab test report that identifies abnormalities and their health implications, along with clear insights and practical suggestions.


  .analysis-section
    h1 Unlock the Power of HealthSphere AI Analysis
    .analysis-content
      .analysis-text
        h2 In-depth Vital Analysis
        p Our AI system simplifies complex lab data into clear, easy-to-understand visual interpretations:
        ul
          li Detailed Vital Information
          p.details See each vital's measured value, normal range, and status (normal, high, or low).
          li In-depth Explanations
          p.details Receive explanations for out-of-range values, including potential health risks and related conditions.
          li Trend Tracking
          p.details Monitor vital changes over time with dynamic graphs that highlight trends from various tests.
        button.explore-biomarkers Explore Your Biomarkers
      .analysis-image
        img(src='/images/vital-analysis.png', alt='Vital Analysis')
    hr
    .report-content
      .report-image
        img(src='/images/report.png', alt='Reports')
      .report-text
        h2 Detailed Reports
        p Receive detailed reports for better understanding and proactive health management. Each report includes:
        ul
          li Test Interpretation
          p.details Understand the meanings behind your test results with clear explanations.
          li Clinical Significance
          p.details Learn about the implications of your results and their potential impact on your health.
          li Recommendations
          p.details Receive actionable advice based on your lab results to help manage and improve your health.
        button.get-report Get Your Report
    hr
    .analysis-content
      .analysis-text
        h2 In-depth Diet Analysis
        p Understanding how your diet impact your body can help you make informed choices that lead to a healthier lifestyle.
        ul
          li Personalized Dietary Recommendations
          p.details Receive tailored advice that fits your unique health needs and goals. 
          li Recipe Suggestions and Meal Plans
          p.details Log your food intake, analyze the nutritional content of your meals over time, and make better food choices.
          li Meal Tracking and Analysis
          p.details Based on your preferences and goals, our AI curates healthy recipes that support your nutrition journey.
        button.explore-biomarkers Explore Your Biomarkers
      .analysis-image
        img(src='/images/diet-analysis.png', alt='Diet Analysis')
    hr
    

  .data-section
    .info-section
      .info-container
        .info-left
          img.lock-icon(src='/images/padlockwhite.png', alt='Padlock Icon')
          .text-container
            h2 Your health data
            span.is-safe Is safe
        .info-right
          .info-details
            .info-item
              i.icon-key
              p No personally identifiable information is required to utilize the Docus AI Health Assistant and its associated features.
            .info-item
              i.icon-shield
              p Any data shared while using our services is safeguarded by advanced security protocols, ensuring compliance with HIPAA and GDPR.


  .report-type-section
    h1 Supported Report Types
    p Explore the variety of report types we support and analyze to help you make informed decisions.
    .report-types
      .report-card
        img(src='/images/blood-test.png', alt='Blood Test')
        h3 Blood Test
        p Overall health, immune system, organ function, etc.
      .report-card
        img(src='/images/urine.png', alt='Urine Test')
        h3 Urine Test
        p Kidney function, urinary tract infections, etc.
      .report-card
        img(src='/images/swab.png', alt='Swab Test')
        h3 Swab Test
        p Bacterial infections, viruses, fungal infections, etc.
      .report-card
        img(src='/images/stool-test.png', alt='Stool Test')
        h3 Stool Test
        p Digestive conditions, infections, parasites, etc.
      .report-card
        img(src='/images/pap-smear.png', alt='Pap Smear')
        h3 Pap Smear
        p Precancerous conditions, cervical cancer, HPV, etc.
      .report-card
        img(src='/images/semen.png', alt='Semen Analysis')
        h3 Semen Analysis
        p Sperm count, motility, morphology, fertility issues.


  .key-insight-section
    .key-insight-text
      h1 Uncover Key Insights of Your Lab Results
      p Start managing your health smarter! Upload your lab tests, receive detailed interpretations and personalized recommendations from our AI Doctor, and take action based on informed insights.
      button.talk-to-ai-doctor Talk to AI Doctor
    .key-insight-image
      img(src='/images/insight.png', alt='Person Looking at Lab Results')

      